/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --background-color: #fff1f7;
  --main-text-color: #353430;
  --heading-text-color: #ffc2e6;
  --accent-color: #353430;
  --text-shadow: #ff8dcb;
  --heading-text-color-with-background: #353430;
  --heading-background-color: #ff8dcb;
  --button-color: #353430;
  --decoration-color: #353430;
  --hover-color: 1px solid rgba(50, 49, 45, 0.5);
  --shadow-text-link: #ff8dcb;
  --shadow-text-1024px-width: #ff0070;
  --cover-image: url(../images/cover-image-light.png);
}

.page.theme_light .decorative-icon {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --background-color: #fff1f7;
    --main-text-color: #353430;
    --heading-text-color: #ffc2e6;
    --accent-color: #353430;
    --text-shadow: #ff8dcb;
    --heading-text-color-with-background: #353430;
    --heading-background-color: #ff8dcb;
    --button-color: #353430;
    --decoration-color: #353430;
    --hover-color: 1px solid rgba(50, 49, 45, 0.5);
    --shadow-text-link: #ff8dcb;
    --shadow-text-1024px-width: #ff0070;
    --cover-image: url(../images/cover-image-light.png);
  }

  .page.theme_auto .decorative-icon {
    display: none;
  }
}
